* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    font-family: "Inclusive Sans", sans-serif;
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*---------- section header ----------*/

.div-section-header {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    background-color:#F1F4F3;
}

header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    width:87%;
    height: 150px;
    position: relative;
    padding: 0 45px 0 45px;
}

.hd-logo {
    width: 16rem;
    height: 60px;
    position: absolute;
    bottom: 20px;
    left: 65px;
    font-family: "Licorice", cursive;
    font-weight: 400px;
    font-style: normal;
    font-size: 70px;
    color: #9CAFAA96;
    box-sizing: border-box;
}

.hd-name {
    width: 16rem;
    height: 100px;  
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 400;
    font-style: normal;  
    font-size: 22px;
    color: #36403A;
    padding-left: 80px;
    box-sizing: border-box;
    margin-bottom: 13px;
    padding-top: 40px;
}

.hd-menu {
    width: 30rem;
    height: 100px;
    padding-top: 45px;
    box-sizing: border-box;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    font-weight: 400;
    font-size: 0.8rem;
    font-weight: 800px;
    color: #36403A;
    transition: 0.5s;
}

li:hover {
    color: #DBA683;
}

.btn-wa-me-hd {
    width: 16rem;
    height: 53px;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    color: #fdf8e8;
    border-style: none;
    box-sizing: border-box;
    background-color: #DBA683;
    transition: 0.5s;
}

.btn-wa-me-hd:hover {
    background-color: #9CAFAA;
}

/*---------- section1 ----------*/

.div-section-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color:#F1F4F3;
}

/*---------- container section1 ----------*/

main {
    width: 87vw;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*---------- box left ----------*/

.aside-left {
    width: 50%;
    height: 450px;
    display: block;
    padding-top: 40px;
    box-sizing: border-box;
}

h1 {
    font-size: 70px;
    color: #36403A;
}

.article-h2 {
    height: 50px;
    display: flex;
    align-items: end;
}

.txt-h2 {
    color: #9CAFAA;
    font-size: 17px;
}

.article-h3 {
    height: 50px;
    display: flex;
    align-items: end;
    color: #36403a88;
    font-size: 12px;    
    margin-bottom: 50px;
}

.btn-wa-me-hd {
    width: 16rem;
    height: 53px;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    color: #fdf8e8;
    border-style: none;
    box-sizing: border-box;
    background-color: #DBA683;
    transition: 0.5s;
}

.btn-wa-me-hd:hover {
    background-color: #9CAFAA;
}


/*---------- box right ----------*/

.aside-right {
    width:50%;
    height: 450px;
    display: flex;
    justify-content: end;
    position: relative;
}

.container-img {
    width: 80%;
    height: 130%;
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #9CAFAA;
    padding-top: 20px;
    box-sizing: border-box;
}

.img-section-1 {
    width: 90%;
    height: 90%;
}

/*---------- section2 ----------*/

.div-section-2 {
    width: 100%;
    height: 800px;
    display: flex;
    background-color:#36403a;
    
}

.article-sec2-left {
    width: 40%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.container-img-sec2-left {
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DBA683;
}

.img-sec2 {
    width: 90%;
    height: 90%;
}

.article-sec2-right {
    width: 40%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-sec2-h3 {
    width: 100%;
    text-align: start;
    margin-top: 150px;
    color: #DBA683;
}

#article-sec2-p {
    text-align: start;
    margin-top: 70px;
    line-height: 2;
    color:#D6DAC8;
}

/*---------- section3 ----------*/


.div-section-3 {
    width: 100%;
    height: 100px;
    background-color: #E3E8E7;
}

.article-sec3 {
    width: 87vw;
    display: flex;
    justify-content: space-between;
    padding: 30px 0 30px 90px;
}

.section3-h1 {
    width: 80%;
    color: #DBA683;
    font-size: 40px;
}

.btn-wa-me-sec-3 {
    width: 16rem;
    height: 53px;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    color: #F1F4F3;
    border-style: none;
    box-sizing: border-box;
    background-color: #DBA683;
    transition: 0.5s;
}


.btn-wa-me-sec-3:hover {
    background-color: #9CAFAA;
}

/*---------- section4 ----------*/

.div-section-4 {
    width: 100%;
    height: 600px;
    display: block;
    background-color: #36403A88;
}












